<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">   
    <link rel="stylesheet" href="../js/font-awesome-4.7.0/css/font-awesome.min.css"> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    <link rel="icon" href="https://assets.weatherstack.com/images/wsymbols01_png_64/wsymbol_0002_sunny_intervals.png">


    <title>Weather App</title>
</head>
<body>
     
  
     

{{!-- <div class="wrap">
    <h1>{{>header}}</h1>
    <form>
   <div class="search">
      <input type="text" class="searchTerm" placeholder="Search For Your Place?">
      <button class="searchButton">
        <i class="fa fa-search"></i>
     </button>
     
   </div>
   </form> --}}
{{!-- <div class="display">
  <p><b>Current Weather</b></p>
  <h2 id="1"></h2>
  <h2  id="2"></h2>
  <p id="3"></p>
  <img id="4" src="" alt="">
  <p id="5"></p>
  <p id="6"></p>
  <p id="7"></p>
  <p id="8"></p>
  <p id="9"></p>
  
</div> --}}
{{!-- </div> --}}
{{!-- 
<div class="display">

  <img id="4" src="" alt="">
  
</div> --}}









 


<div class="container-fluid px-1 px-sm-3 py-5 mx-auto">
    <div class="row d-flex justify-content-center">
        <div class="row card0">
            <div class="card1 col-lg-8 col-md-7"> <small>the.weather</small>
                <div class="text-center"> <img class="image mt-5" src="https://i.imgur.com/M8VyA2h.png"> </div>
                <div class="row px-3 mt-3 mb-3">
                    <h1 id="2" class="large-font mr-3">26</h1><h1>&#176;</h1>
                    <div class="d-flex flex-column mr-3">
                        <h2 id="1" class="mt-3 mb-0">London</h2> <small id="3"></small>
                    </div>
                    <div class="d-flex flex-column text-center">
                          <div class="display">
                          <h2 style="display:none" id="1"></h2>
                          <h2 style="display:none" id="2"></h2>
                          <p  style="display:none" id="3"></p>
                          <img id="4" src="" alt="">
                          </div> <small id="5" ></small>
                    </div>
                </div>
            </div>
            <div class="card2 col-lg-4 col-md-5">
              <form>
                <div class="row px-3"> 
                  <input type="text" name="location" placeholder="Another location" class="mb-5">
                    {{!-- <div class="fa fa-search mb-5 mr-0 text-center"></div> --}}
                    <button class="fa fa-search mb-5 mr-0 text-center" ></button>
                </div>
                </form>
                <div class="mr-5">
                    <p>Weather Details</p>
              
                    <div class="row px-3">
                        <p class="light-text">Humidity</p>
                        <a id="9" class="ml-auto">78%</a>
                    </div>
                    <div class="row px-3">
                        <p class="light-text">Wind Speed</p>
                        <p id="6" class="ml-auto">1</p><p>:km/h</p>
                    </div>
                    <div class="row px-3">
                        <p class="light-text">Precipitation</p>
                        <p id="7" class="ml-auto">88%</p>
                    </div>
                    <div class="row px-3">
                        <p class="light-text">Feels Like</p>
                        <a id="8" class="ml-auto">-99</a>
                    </div>
                    <div class="line mt-3"></div>
                </div>
            </div>
        </div>
    </div>
</div>







    <script src="js/app.js"></script>



</body>
</html>